.mic{
    background-image: url(micro.jpeg) ;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    width: 300px;
    background-size: 10px;
}
header{
text-align: right;
  
}
body{
  
}
.centre{
    text-align: center;
    margin-top: 200px;
}
.ro{
background-color: brown;
}
footer{
    background-color: aliceblue;
    margin-top: 30%;
}
.droite{
    text-align: left;
}

.do{
display: flex;
justify-content: space-between;
}

@media screen and (max-width:400px){

    footer{
    background-color: aliceblue;
    margin-top: 150px;
    position: absolute;
}
}

